#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
# Bondtech LGX
[extruder]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 7.70281776

## Used to set max extrusion. Defaults to 4 x nozzle_diameter^2. 
nozzle_diameter: 1.0

max_extrude_only_distance: 300

##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
#gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
filament_diameter: 1.75

## In E0 OUT Position
heater_pin: PB15

## Thermistor
sensor_type: PT1000
sensor_pin: PC0

min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 170

#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

##	Try to keep pressure_advance below 1.0
## Atomic ABS - 245 Degrees - 0.067
pressure_advance: 0.0675

##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	In E0-MOT Position
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
# LGX MOTOR - MAX 0.7amp 
run_current: 0.55
hold_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0